<div class="main_container">
  <div class="image_container">
    <img src="{{ employee_details.profile_imageUrl }}" alt="profile picture" />
  </div>
  <div class="employee_details_container">
    <div class="name_role_container">
      <p class="name">{{ employee_details.full_name }}</p>
      <p class="role">{{ employee_details.designation }}</p>
    </div>
    <div class="contact_details">
      <a href="tel:+91{{ employee_details.phone_number }}">
        <div class="call"></div
      ></a>
      <a href="mailto:{{ employee_details.email_address }}">
        <div class="mail"></div>
      </a>
    </div>
  </div>
  <div class="procstat_info">
    <div class="social_media">
      <a
        href="{{ employee_details.facebook_link }}"
        target="_blank"
        class="social-icon facebook"
      ></a>
      <a
        href="{{ employee_details.linkedIn_link }}"
        target="_blank"
        class="social-icon linkedIn"
      ></a>
      <a
        href="{{ employee_details.twitter_link }}"
        target="_blank"
        class="social-icon twitter"
      ></a>
      <a
        href="{{ employee_details.instagram_link }}"
        target="_blank"
        class="social-icon instagram"
      ></a>
    </div>
  </div>
  <div class="procstat"></div>
  <div class="proclink_venture"></div>
</div>
<div class="download">
  <button (click)="downloadSignature()">Download Signature</button>
</div>
