<div class="main_container">
  <div class="image_container">
    <img src="" alt="profile picture" />
  </div>
  <div class="employee_details_container">
    <div class="name_role_container">
      <p class="name">Srujan Pothu</p>
      <p class="role">Graduate Engineer Trainee</p>
    </div>
    <div class="contact_details">
      <a href="tel:+91"> <div class="call"></div></a>
      <a href="mailto:">
        <div class="mail"></div>
      </a>
    </div>
  </div>
  <div class="procstat_info">
    <div class="social_media">
      <div class="facebook"></div>
      <div class="linkedIn"></div>
      <div class="twitter"></div>
      <div class="instagram"></div>
    </div>
  </div>
  <div class="procstat"></div>
  <div class="proclink_venture"></div>
</div>
