<mat-card class="mat_card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Procstat Email Signature </mat-card-title>
  </mat-card-header>
  <form [formGroup]="employeeForm" (ngSubmit)="createSignature()" class="form">
    <label for="name">Name:</label>
    <input id="name" formControlName="name" required />

    <label for="designation">Designation:</label>
    <input id="designation" formControlName="designation" required />

    <label for="email">Email Address:</label>
    <input id="email" formControlName="email" required />

    <label for="phone_number">Phone:</label>
    <input id="phone_number" formControlName="phone_number" required />

    <label for="file">Upload Profile Image:</label>
    <input type="file" id="file" />

    <label for="facebook_url">Facebook Url:</label>
    <input id="facebook_url" formControlName="facebook_url" required />

    <label for="linkedIn_url">LinkedIn Url:</label>
    <input id="linkedIn_url" formControlName="linkedIn_url" required />

    <label for="twitter_url">Twitter Url:</label>
    <input id="twitter_url" formControlName="twitter_url" required />

    <label for="instagran_url">Instagram Url:</label>
    <input id="instagran_url" formControlName="instagran_url" required />

    <button type="submit">Get Email Signature</button>
  </form>
</mat-card>
