// .form_container {
//   background-color: antiquewhite;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
// }

// .form {
//   display: flex;
//   flex-direction: column;
//   width: 200px;
//   padding-bottom: 20px;
// }

.container {
  background-image: url("../../assets/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 2rem;
  background-position: right;
}
//----------
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #f1f3fb;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  display: block;
}

// iOS Reset
input {
  appearance: none;
  border-radius: 0;
}

.card {
  font-family: "Inter", sans-serif;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-color: #6658d3;
  background-image: url("https://procstatemailsigassets.s3.ap-south-1.amazonaws.com/procstat_logo.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 95% 95%;
  position: relative;
}

.card-heading {
  position: absolute;
  left: 8%;
  top: 8%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.222;
  small {
    color: #98ca3e;
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
  }
}

.card-form {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  & + .input {
    margin-top: 1.5rem;
  }
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  &:focus,
  &:user-valid {
    outline: 0;
    border-bottom-color: #6658d3;
    & + .input-label {
      color: #6658d3;
      transform: translateY(-1.5rem);
    }
  }
}

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: 0;
  &:focus {
    outline: 0;
  }
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
  a {
    display: block;
    color: #6658d3;
    text-decoration: none;
  }
}
//-------------
// body {
//   background: whitesmoke;
//   font-family: "Open Sans", sans-serif;
// }

.image_container {
  max-width: 960px;
  // margin: 30px auto;
  // padding: 20px;
}

h1 {
  font-size: 16px;
  text-align: center;
  margin: 20px 0 20px;
  color: gray;
}
.upload {
  background-image: url("https://cdn-icons-png.flaticon.com/512/126/126477.png");
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  background-size: 90%;
  background-color: #fff;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto;
  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-bottom: 0;
        border-radius: 14%;
        // background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 14%;
    border: 4px solid #98ca3e;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      border-radius: 12%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

//-------------------
button {
  background: #6635c6;
  color: white;
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}
button:hover {
  transform: scale(1.025);
}
button:active {
  transform: scale(0.95);
  background: #291550;
}
.button_text {
  font-size: 15px;
}
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 15px);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//=----------------
.validation_container {
  height: 18px;
  width: 100%;
}
.custom-error {
  color: #f44336;
  font-size: 0.7em;
  margin-top: 4px;
  width: max-content;
}
