<!-- <body> -->
<!-- <div class="form_container">
    <div class="heading">
      <h1>Fill your details to generate Email Signature</h1>
    </div>
    <form
      [formGroup]="employeeForm"
      (ngSubmit)="createSignature()"
      class="form"
    >
      <label for="full_name">Full Name:</label>
      <input id="full_name" formControlName="full_name" required />

      <label for="designation">Designation:</label>
      <input id="designation" formControlName="designation" required />

      <label for="email">Email Address:</label>
      <input id="email" formControlName="email_address" required />

      <label for="phone_number">Phone:</label>
      <input id="phone_number" formControlName="phone_number" required />

      <label for="file">Upload Profile Image:</label>
      <input
        type="file"
        id="file"
        formControlName="file"
        (change)="onFileChange($event)"
      />

      <label for="facebook_link">Facebook Url:</label>
      <input id="facebook_link" formControlName="facebook_link" required />

      <label for="linkedIn_link">LinkedIn Url:</label>
      <input id="linkedIn_link" formControlName="linkedIn_link" required />

      <label for="twitter_link">Twitter Url:</label>
      <input id="twitter_link" formControlName="twitter_link" required />

      <label for="instagram_link">Instagram Url:</label>
      <input id="instagram_link" formControlName="instagram_link" required />

      <button type="submit">Generate Email Signature</button>
    </form>
  </div> -->

<div class="container">
  <div class="card">
    <div class="card-image">
      <h2 class="card-heading">
        Get started !
        <small>Create your Email Signature</small>
      </h2>
    </div>
    <form
      [formGroup]="employeeForm"
      (ngSubmit)="createSignature()"
      class="card-form"
    >
      <div class="input">
        <input
          type="text"
          class="input-field"
          formControlName="full_name"
          required
        />
        <label class="input-label">Full name</label>
      </div>
      <div class="validation_container">
        @if (full_name?.touched) { @if (full_name?.hasError('required')) {
        <div class="custom-error">Name is <strong>required</strong>.</div>
        } @if (full_name?.hasError('minlength')) {
        <div class="custom-error">
          Full Name is <strong>very short</strong>.
        </div>
        } }
      </div>
      <div class="input">
        <input
          type="text"
          class="input-field"
          formControlName="designation"
          required
        />
        <label class="input-label">Designation</label>
      </div>
      <div class="validation_container">
        @if (designation?.touched) { @if (designation?.hasError('required')) {
        <div class="custom-error">
          Designation is <strong>required</strong>.
        </div>
        } @if (designation?.hasError('minlength')) {
        <div class="custom-error">
          Designation is <strong>very short</strong>.
        </div>
        } }
      </div>
      <div class="input">
        <input
          type="email"
          class="input-field"
          formControlName="email_address"
          required
        />
        <label class="input-label">Email Address</label>
      </div>
      <div class="validation_container">
        @if(email_address?.touched) { @if(email_address?.hasError('required')) {
        <div class="custom-error">Email is <strong>required</strong>.</div>
        } @if (email_address?.hasError('email')) {
        <div class="custom-error">
          Please enter a <strong>valid email address.</strong>
        </div>
        } }
      </div>
      <div class="input">
        <input
          type="tel"
          class="input-field"
          formControlName="phone_number"
          required
        />
        <label class="input-label">Phone Number</label>
      </div>
      <div class="validation_container">
        @if(phone_number?.touched){ @if (phone_number?.hasError('required')) {
        <div class="custom-error">
          Phone number is <strong>required</strong>.
        </div>
        } @if (phone_number?.hasError('pattern')) {
        <div class="custom-error">
          Phone number is <strong>invalid</strong>.
        </div>
        } }
      </div>
      <div class="image_container">
        <h1>Upload your Profile Image</h1>
        <div class="avatar-upload">
          <div class="avatar-edit">
            <input
              type="file"
              id="imageUpload"
              accept=".png, .jpg, .jpeg"
              formControlName="file"
              (change)="onFileChange($event)"
            />
            <label class="upload" for="imageUpload"></label>
          </div>
          <div class="avatar-preview">
            <div
              id="imagePreview"
              [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }"
            ></div>
          </div>
        </div>
      </div>
      <div class="validation_container">
        @if(errorMessage){
        <div class="custom-error">{{ errorMessage }}</div>

        }
      </div>
      <div class="input">
        <input
          type="text"
          class="input-field"
          formControlName="facebook_link"
        />
        <label class="input-label">Facebook Profile Url</label>
      </div>
      <div class="input">
        <input
          type="text"
          class="input-field"
          formControlName="linkedIn_link"
        />
        <label class="input-label">LinkedIn Profile Url</label>
      </div>
      <div class="input">
        <input type="text" class="input-field" formControlName="twitter_link" />
        <label class="input-label">X(Twitter) Profile Url</label>
      </div>
      <div class="input">
        <input
          type="text"
          class="input-field"
          formControlName="instagram_link"
        />
        <label class="input-label">Instagram Profile Url</label>
      </div>
      <div class="action">
        <button [disabled]="isLoading">
          @if(!isLoading){
          <span class="button_text">Generate Email Signature</span>
          } @if (isLoading) {
          <span class="loader"></span>
          }
        </button>
      </div>
    </form>
  </div>
</div>
